{% extends '../layout/admin.html' %}

{% block html_title %}外部共有管理 · {{ path }}{% endblock %}

{% block content_head %}
<div class="header-wrap">
  <header id="page-header">
    <h1 class="title" id="">外部共有管理</h1>
  </header>
</div>
{% endblock %}

{% block content_main %}
<div class="content-main content-form">

  {% set emessage = req.flash('errorMessage') %}
  {% if emessage.length %}
  <div class="alert alert-danger">
    {{ emessage }}
  </div>
  {% endif %}

  <div class="row">
    <div class="col-md-3">
      {% include './widget/menu.html' with {current: 'share'} %}
    </div>
    <div class="col-md-9">

      <form action="/_api/admin/settings/share" method="post" class="form-horizontal" id="appSettingForm" role="form">
        <fieldset>
          <legend>外部共有設定</legend>
          <div class="form-group">
            <div class="offset-3 col-6">
              <input type="checkbox" id="appExternalShare" name="settingForm[app:externalShare]" value="1" {% if isExternalShareEnabled() %}checked{% endif %}>
              <label for="appExternalShare" class="">{{ t('admin.share.enable_external_share') }}</label>
            </div>
          </div>

          <div class="form-group">
            <div class="offset-3 col-6">
              <input type="hidden" name="_csrf" value="{{ csrf() }}">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </fieldset>
      </form>
      <div id="admin-share"></div>
    </div>
  </div>

</div>
{% endblock content_main %}

{% block content_footer %}
{% endblock content_footer %}

