{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "flow",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-es2015-parameters",
    "transform-es2015-spread",
    "transform-es2015-for-of"
  ]
}
