{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"],
        "node": "current"
      }
    }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "client": "./client",
        "components": "./client/components",
        "server": "./lib",
        "common": "./common",
        "locales": "./locales"
      }
    }],
    "babel-plugin-styled-components"
  ]
}
