{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true
  },
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/standard",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "eqeqeq": "off",
    "handle-callback-err": "off",
    "jest/valid-describe": "off",
    "no-console": "off",
    "no-global-assign": "off",
    "no-inner-declarations": "off",
    "no-redeclare": "off",
    "node/no-deprecated-api": "off",
    "prettier/prettier": "error",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "require-jsdoc": "off",
    "standard/no-callback-literal": "off",
    "valid-jsdoc": "off"
  },
  "settings": {
    "react": {
      "version": "16.7"
    }
  },
  "plugins": ["@typescript-eslint", "react", "prettier", "jest", "react-hooks"],
  "globals": {
    "jest/globals": true,
    "hljs": true,
    "inlineAttachment": true,
    "crowi": true,
    "Crowi": true,
    "crowiRenderer": true
  },
  "overrides": [
    {
      "files": ["*.test.ts", "test/*.ts", "test/*.js"],
      "rules": {
        "handle-callback-err": "off",
        "no-redeclare": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "off",
        "no-undef": "off"
      }
    },
    {
      "files": "client/**/*.js",
      "rules": {
        "react-hooks/rules-of-hooks": "error"
      }
    }
  ]
}
