{
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "jsx": true,
    "useJSXTextNode": true
  },
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "typescript",
    "typescript/react",
    "typescript/prettier",
    "prettier",
    "prettier/standard",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "eqeqeq": "off",
    "handle-callback-err": "off",
    "no-global-assign": "off",
    "no-inner-declarations": "off",
    "no-redeclare": "off",
    "prettier/prettier": "error",
    "react/prefer-stateless-function": "off",
    "standard/no-callback-literal": "off"
  "settings": {
    "react": {
      "version": "16.7"
    }
  },
  "plugins": ["react", "prettier", "jest"],
  "globals": {
    "jest/globals": true,
    "ROOT_DIR": true,
    "MODEL_DIR": true,
    "testDBUtil": true,
    "hljs": true,
    "inlineAttachment": true,
    "crowi": true,
    "Crowi": true,
    "crowiRenderer": true
  },
  "overrides": [
    {
      "files": "*.test.js",
      "rules": {
        "handle-callback-err": "off",
        "no-redeclare": "off",
        "no-unused-expressions": "off",
        "no-unused-vars": "off"
      }
    }
  ]
}
