{% extends 'layout/single-nologin.html' %}

{% block html_title %}{{ t('page_login.sign_in') }} · {% endblock %}

{% block content_main %}

<div class="v2-single-page-container">

  <h1 class="login-page">
    {% if config.crowi['app:title'] == 'Crowi' %}
      <img src="/logo/135x32.png" alt="Crowi">
    {% else %}
      {{ config.crowi['app:title'] }}<br>
      <img src="/logo/100x11_w.png" alt="powered by Crowi">
    {% endif %}
  </h1>

  <div class="login-dialog" id="login-dialog">

    <h2>{{ t('page_login.sign_in') }}</h2>

    <div id="login-form-errors">
      {% set message = req.flash('warningMessage') %}
      {% if message.length %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
      {% endif %}

      {% if req.form.errors.length > 0 %}
      <div class="alert alert-danger">
        <ul>
          {% for error in req.form.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    {% if toConnect %}
    <div class="user-card">
      <div class="user-card-image">
        <img src="{{ targetUser|picture }}" class="picture picture-rounded picture-lg">
      </div>
      <div class="user-card-body">
        <h4>{{ targetUser.name }}</h4>
        <code>{{ targetUser.email }}</code>
      </div>
    </div>
    <div class="alert alert-info">
      <p>{{ t('page_login.notice.email_is_used', { email: socialEmail, issuer: issuerName }) }}<p>
      <p>{{ t('page_login.notice.login_to_connect', { issuer: issuerName }) }}<p>
    </div>
    {% endif %}

    {% if toConnect || !config.crowi['auth:disablePasswordAuth'] %}
    <form role="form" action="/login" method="post">
      <div class="input-group">
        <span class="input-group-prepend"><span class="input-group-text"><span class="mdi mdi-email"></span></span></span>
        <input type="text" class="form-control" placeholder="E-mail" name="loginForm[email]" {% if toConnect %}value="{{ socialEmail }}" readonly{% endif %}>
      </div>

      <div class="input-group">
        <span class="input-group-prepend"><span class="input-group-text"><span class="mdi mdi-key"></span></span></span>
        <input type="password" class="form-control" placeholder="Password" name="loginForm[password]">
      </div>

      <input type="hidden" name="_csrf" value="{{ csrf() }}">
      <input type="hidden" name="continue" value="{{ continueUrl }}">
      {% if toConnect %}
      <input type="hidden" name="toConnect" value="1">
      {% endif %}
      <input type="submit" class="btn btn-primary btn-lg btn-block" value="{{ t('page_login.sign_in') }}">
    </form>
    {% endif %}

    {% if config.crowi['auth:disablePasswordAuth'] && config.crowi['security:registrationWhiteList'] && config.crowi['security:registrationWhiteList'].length %}
    <hr>

    <p class="help-block">
    {{ t('page_register.form_help.email') }}
    </p>
    <ul>
      {% for em in config.crowi['security:registrationWhiteList'] %}
      <li><code>{{ em }}</code></li>
      {% endfor %}
    </ul>

    {% endif %}

    {% if not toConnect %}
    {% if !config.crowi['auth:disablePasswordAuth'] %}
    <hr>
    {% endif %}

    <div>
      {% if googleLoginEnabled() %}
      <form role="form" action="/login/google" method="get">
        <button type="submit" class="btn btn-block btn-google"><i class="mdi mdi-google"></i> {{ t('page_login.sign_in_with', "Google") }}</button>
        <input type="hidden" name="_csrf" value="{{ csrf() }}">
        <input type="hidden" name="continue" value="{{ continueUrl }}">
      </form>
      {% endif %}
      {% if githubLoginEnabled() %}
      <form role="form" action="/login/github" method="get">
        <button type="submit" class="btn btn-block btn-github"><i class="mdi mdi-github-box"></i> {{ t('page_login.sign_in_with', "GitHub") }}</button>
        <input type="hidden" name="_csrf" value="{{ csrf() }}">
        <input type="hidden" name="continue" value="{{ continueUrl }}">
      </form>
      {% endif %}
    </div>
    {% endif %}

    {% set hasAuthMethod = !config.crowi['auth:disablePasswordAuth'] || issuerName %}
    {% if config.crowi['security:registrationMode'] != 'Closed' && hasAuthMethod && !toConnect %}
    <p class="bottom-text"><a href="/register"><i class="mdi mdi-pencil-outline"></i> {{ t('page_login.sign_up_is_here') }}</a></p>
    {% endif %}
  </div>

</div>

{% endblock %}
