{% extends 'layout/2column.html' %}

{% block html_title %}{{ path|path2name }} · {{ path }}{% endblock %}

{% block content_head %}

{% block content_head_before %}
{% endblock %}

<div id="page-header">
</div>

{% block content_head_after %}
{% endblock %}

{% endblock %}

{% block content_main %}

{% block content_main_before %}
{% endblock %}

<div id="content-main" class="content-main {% if not page or req.body.pageForm %}on-edit{% endif %}"
  data-path="{{ path }}"
  data-path-shortname="{{ path|path2name }}"
  data-page-id="{% if page %}{{ page._id.toString() }}{% endif %}"
  data-page-revision-id="{% if revision %}{{ revision._id.toString() }}{% endif %}"
  data-page-revision-created="{% if revision %}{{ revision.createdAt|datetz('U') }}{% endif %}"
  data-page-is-seen="{% if page and page.isSeenUser(user) %}1{% else %}0{% endif %}"
  >

  {% if not page %}
  <ul class="nav nav-tabs d-print-none">
    <li class="nav-item"><a class="nav-link">Create: {{ path }}</a></li>
    <li class="nav-item dropdown ml-auto">
      <a class="nav-link" href="#" onclick="history.back();">{{ Icon("close") }} {{ t('Cancel') }}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="edit-form">
    {% include '_form.html' %}
    </div>
  </div>

  {% else %}

  {% if page.isDeleted() %}
  <div class="alert alert-danger alert-trash">
    <div>
      <ul class="list-inline float-right">
        <li class="list-inline-item">
          <form role="form" id="revert-delete-page-form" onsubmit="return false;">
            <input type="hidden" name="_csrf" value="{{ csrf() }}">
            <input type="hidden" name="path" value="{{ page.path }}">
            <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
            <button type="submit" class="btn btn-light btn-sm">
              {{ Icon("fileRestore", [], 'aria-hidden="true"') }}
              Put Back
            </button>
          </form>
        </li>
        <li class="list-inline-item">
          <form role="form" id="delete-page-form" onsubmit="return false;">
            <input type="hidden" name="_csrf" value="{{ csrf() }}">
            <input type="hidden" name="path" value="{{ page.path }}">
            <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
            <input type="hidden" name="completely" value="true">
            <button type="submit" class="btn btn-danger btn-sm">
              {{ Icon("deleteForeverOutline", [], 'aria-hidden="true"') }}
              Delete Completely
            </button>
          </form>
        </li>
      </ul>
      {{ Icon("trashCanOutline", [], 'aria-hidden="true"') }}
      This page is in the trash.<br>
      Deleted by <img src="{{ page.lastUpdateUser|picture }}" class="picture picture-sm picture-rounded"> {{ page.lastUpdateUser.name }} at {{ page.updatedAt|datetz('Y-m-d H:i:s') }}
    </div>
  </div>
  {% endif %}

  {% if not page.isDeleted() %}
  <div class="page-menu">

    <div class="btn-group page-menues" role="group">
        <button type="button" class="btn btn-outline-primary">
          {{ Icon("squareEditOutline") }} {{ t('Edit') }}
        </button>
        <button type="button" class="btn btn-outline-primary" data-target="#revisionHistories" data-toggle="modal">
          {{ Icon("history") }}
        </button>
        {% if isExternalShareEnabled() %}
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary share-box-toggle dropdown-toggle" data-toggle="dropdown">
            {{ Icon("openInNew") }}
          </button>
          <div class="dropdown-menu dropdown-menu-right" id="share-box">
          </div>
        </div>
        {% endif %}
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
            {{ Icon("dotsHorizontal") }}
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            {% if !isUserPage(path) %}
              <a class="dropdown-item" href="#" data-target="#renamePage" data-toggle="modal">{{ Icon("fileMove") }} {{ t('Move') }}</a>
              <a class="dropdown-item" href="#" data-target="#renameTree" data-toggle="modal">{{ Icon("folderMove") }} {{ t('Move pages under', path|path2name ) }}</a>
              <a class="dropdown-item" href="#" data-target="#portalize" data-toggle="modal">{{ Icon("textBoxMultipleOutline") }} {{ t('Portalize') }}</a>
            {% endif %}
            <a class="dropdown-item toggle-presentation" href="?presentation=1">{{ Icon("presentation") }} {{ t('Presentation Mode') }} (beta)</a>
            {% if isDeletablePage() %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-target="#deletePage" data-toggle="modal">{{ Icon("trashCanOutline", ["text-danger"]) }} {{ t('Delete') }}</a>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
  {% endif %}

  <div class="wiki-content">
    {# renamed message #}
    {% if req.query.renamed and not page.isDeleted() %}
    <div class="alert alert-info alert-moved">
      <span>
        <strong>{{ t('Moved') }}: </strong> {{ t('page_page.notice.moved', req.query.renamed) }}
      </span>
    </div>
    {% endif %}
    {# redirected and show unlink menu #}
    {% if req.query.redirectFrom and not page.isDeleted() %}
    <div class="alert alert-info alert-moved">
      <div>
        <form role="form" id="unlink-page-form" onsubmit="return false;">
          <input type="hidden" name="_csrf" value="{{ csrf() }}">
          <input type="hidden" name="path" value="{{ page.path }}">
          <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
          <button type="submit" class="btn btn-light btn-sm float-right">
            {{ Icon("linkOff", [], 'aria-hidden="true"') }}
            Unlink
          </button>
        </form>
        <span>
          <strong>{{ t('Moved') }}: </strong> {{ t('page_page.notice.moved', req.query.redirectFrom) }}
        </span>
      </div>
    </div>
    {% endif %}
    {# unlinked message #}
    {% if req.query.unlinked %}
    <div class="alert alert-info">
      <strong>{{ t('Unlinked') }}: </strong> {{ t('page_page.notice.unlinked') }}
    </div>
    {% endif %}
    {# show non-latest revision message #}
    {% if not page.isLatestRevision() %}
    <div class="alert alert-warning">
      <strong>{{ t('Warning') }}: </strong> {{ t('page_page.notice.version') }} {{ Icon("autoFix") }} <a href="{{ page.path }}">{{ t('Show latest') }}</a>
    </div>
    {% endif %}

    <script type="text/template" id="raw-text-original">{{ revision.body }}</script>

    {# formatted text #}
    <div class="tab-pane {% if not req.body.pageForm %}active{% endif %}" id="revision-body">
      <div class="revision-toc" id="revision-toc">
        <a data-toggle="collapse" data-parent="#revision-toc" href="#revision-toc-content" class="revision-toc-head collapsed">{{ t('Table of Contents') }}</a>

      </div>
      <div class="wiki" id="revision-body-content"></div>
    </div>

    {# edit form #}
    {% if not page.isDeleted() %}
    <div class="edit-form tab-pane {% if req.body.pageForm %}active{% endif %}" id="edit-form">
      {% include '_form.html' %}
    </div>
    {% endif %}

    {# raw revision history #}
    {% if not page %}
    {% else %}
    {% endif %}

  </div>
  {% endif %}

  <div id="page-alerts"></div>
</div>

{% block content_main_after %}
{% endblock %}

{% endblock %}

{% block content_footer %}


{% if page %}

<div id="rename-tree">
</div>

<div class="meta">
  <div class="backlink-list" id="backlink-list"></div>
  <div class="page-attachments" id="page-attachment"></div>

  <div class="page-meta">
    Path: <span id="pagePath">{{ page.path }}</span><br>
    {# for BC #}
    {% if page.lastUpdateUser %}
    Last updated at {{ page.updatedAt|datetz('Y-m-d H:i:s') }} by <img src="{{ page.lastUpdateUser|picture }}" class="picture picture-rounded"> {{ page.lastUpdateUser.name }}<br>
    {% else %}
    Last updated at {{ page.revision.createdAt|datetz('Y-m-d H:i:s') }} by <img src="{{ page.revision.author|picture }}" class="picture picture-rounded"> {{ page.revision.author.name }}<br>
    {% endif %}
    {# /for BC #}
    Created at {{ page.createdAt|datetz('Y-m-d H:i:s') }} by <img src="{{ page.creator|default(page.creator)|picture }}" class="picture picture-rounded"> {{ page.creator.name }}<br>
  </div>
</div>
{% endif %}

{% endblock %}

{% block side_header %}
{% if not page.isDeleted() %}
{% include 'widget/page_side_header.html' %}
{% endif %}
{% endblock %} {# side_header #}

{% block side_content %}
{% if not page.isDeleted() %}
{% include 'widget/page_side_content.html' %}
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block body_end %}
{% parent %}

<div id="presentation-layer" class="fullscreen-layer">
  <div id="presentation-container"></div>
</div>

<div id="crowi-modals">
  <div class="modal revision-history-container" id="revisionHistories">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ t('History') }}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="revision-history" id="revision-history">
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'modal/rename.html' %}
  {% include 'modal/delete.html' %}
  {% include 'modal/page_name_warning.html' %}
  {% include 'modal/portalize.html' %}
</div>
{% endblock %}
