{% extends 'layout/3column.html' %}

{% block html_title %}{{ path|path2name }} ·{{ path }}{% endblock %}

{% block layout_container %}
<div class="v2-content-main-container container-fluid">
  <div class="v2-content-header row {% if page && page.grant != 1 %}grant-restricted{% endif %}">

    <header class="col-md-12 col-lg-7 offset-lg-2" id="page-header">
      <h1 class="title">{{ path|insertSpaceToEachSlashes }}</h1>
    </header>
    <div class="col-md-12 col-lg-3">
      <div class="page-action d-flex justify-content-end">
        <div class="page-action-watch mr-2">
          <div id="watch-button"></div>
        </div>
        <div class="page-action-bookmark mr-2" id="bookmark-button">
        </div>
        <div class="page-action-like">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <button
                data-csrftoken="{{ csrf() }}"
                data-liked="{% if page.isLiked(user) %}1{% else %}0{% endif %}"
                class="like-button btn btn-outline-primary"
                >
                {% if page.isLiked(user) %}
                  <i class="mdi mdi-thumb-up"></i>
                {% else %}
                  <i class="mdi mdi-thumb-up-outline"></i>
                {% endif %}
              </button>
            </div>
            <div class="input-group-append">
              <div class="input-group-text">
                {{ page.liker.length }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div
    class="v2-content-main row"
    id="content-main"
    data-path="{{ path }}"
    data-path-shortname="{{ path|path2name }}"
    data-page-id="{% if page %}{{ page._id.toString() }}{% endif %}"
    data-page-revision-id="{% if revision %}{{ revision._id.toString() }}{% endif %}"
    data-page-revision-created="{% if revision %}{{ revision.createdAt|datetz('U') }}{% endif %}"
    data-page-is-seen="{% if page and page.isSeenUser(user) %}1{% else %}0{% endif %}"
    data-csrftoken="{{ csrf() }}"
    >
    <div class="page-content col-md-9 order-md-1 col-lg-7 order-lg-2">
      <div class="page-menu d-flex justify-content-end button-toolbar">
        <div class="btn-group mr-2" role="group" aria-label="Edit button">
          <button type="button" class="btn btn-primary"><i class="mdi mdi-square-edit-outline"></i> {{ t('Edit') }}</button>
        </div>
        <div class="btn-group" role="group" aria-label="Page menu">
          <button type="button" class="btn btn-light"><i class="mdi mdi-attachment"></i></button>
          <button type="button" class="btn btn-light"><i class="mdi mdi-history"></i></button>

          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mdi mdi-export-variant"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
              link っぽいやつと

              <br>
              external share がゆうこうならそれ
            </div>
          </div>

          <div class="btn-group" role="group">
            <button id="btnGroupDrop2" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mdi mdi-dots-horizontal"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop2">
              {% if !isUserPage(path) %}
                <a class="dropdown-item" href="#" data-target="#renamePage" data-toggle="modal"><i class="mdi mdi-file-move"></i> {{ t('Move') }}</a>
                <a class="dropdown-item" href="#" data-target="#renameTree" data-toggle="modal"><i class="mdi mdi-folder-move"></i> {{ t('Move pages under', path|path2name ) }}</a>
                <a class="dropdown-item" href="#" data-target="#portalize" data-toggle="modal"><i class="mdi mdi-file-document-box-multiple-outline"></i> {{ t('Portalize') }}</a>
              {% endif %}
              <a class="dropdown-item" href="?presentation=1" class="toggle-presentation"><i class="mdi mdi-presentation"></i> {{ t('Presentation Mode') }} (beta)</a>
              {% if isDeletablePage() %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-target="#deletePage" data-toggle="modal"><i class="mdi mdi-trash-can-outline text-danger"></i> {{ t('Delete') }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <script type="text/template" id="raw-text-original">{{ revision.body }}</script>
      <div class="" id="revision-body">
        <div class="wiki" id="revision-body-content"></div>
      </div>

      <div class="page-footer">
        <div class="backlink-list" id="backlink-list"></div>
      </div>

    </div>
    <div class="v2-content-side col-md-3 order-md-2 col-lg-3 order-lg-3">
      <div
        class="page-created-at"
        data-toggle="popover"
        data-placement="bottom"
        data-content="Created {{ page.createdAt|datetz('Y/m/d H:i:s') }} Updated {{ page.updatedAt|datetz('Y/m/d H:i:s') }}"
        >
        <a href="{{ userPageRoot(page.creator) }}">
          <img src="{{ page.creator|default(author)|picture }}" class="picture picture-md picture-rounded">
        </a>
        {% if page.creator._id.toString() != page.lastUpdateUser._id.toString() %}
          <a title="{{ page.lastUpdateUser.name }}" href="{{ userPageRoot(page.lastUpdateUser) }}">
            <img src="{{ page.lastUpdateUser|picture }}" class="picture picture-md picture-rounded">
          </a>
        {% endif %} {{ page.updatedAt|moment('fromNow') }} ... <i class="mdi mdi-pencil"></i>
      </div>
      <div class="page-count-info-lists">
        {# <div class="page-like-users" id="liker-list" data-likers="{{ page.liker|default([])|join(',') }}">
        <div className="liker--list d-flex">
          <div className="flex-shrink-1 page-count-info-title">
            <i class="mdi mdi-thumb-up"></i> <span id="like-count">{{ page.liker.length }}</span>
          </div>
          <div className="flex-grow-1 page-count-info-value">
          </div>
        </div> #}
        <div class="page-seen-users" id="seen-user-list" data-seen-users="{{ page.seenUsers|default([])|join(',') }}">
        </div>
      </div>


      <div class="page-comments">
        <h3><i class="mdi mdi-comment"></i> Comments</h3>
        <form class="form page-comment-form" id="page-comment-form" onsubmit="return false;">
          <div class="comment-form">
            <div class="comment-form-main">
              <div class="comment-write" id="comment-write">
                <textarea class="comment-form-comment form-control" id="comment-form-comment" name="commentForm[comment]"></textarea>
              </div>
              <div class="comment-submit">
                <input type="hidden" name="_csrf" value="{{ csrf() }}">
                <input type="hidden" name="commentForm[page_id]" value="{{ page._id.toString() }}">
                <input type="hidden" name="commentForm[revision_id]" value="{{ revision._id.toString() }}">
                <span class="text-danger" id="comment-form-message"></span>
                <input type="submit" id="comment-form-button" value="Comment" class="btn btn-primary btn-sm form-inline">
              </div>
            </div>
          </div>
        </form>

        <div class="page-comments-list" id="page-comments-list">
          <div class="page-comments-list-newer collapse" id="page-comments-list-newer"></div>

          <a class="page-comments-list-toggle-newer text-center" data-toggle="collapse" href="#page-comments-list-newer"><i class="mdi mdi-chevron-double-up"></i> Comments for Newer Revision <i class="mdi mdi-chevron-double-up"></i></a>

          <div class="page-comments-list-current" id="page-comments-list-current"></div>

          <a class="page-comments-list-toggle-older text-center" data-toggle="collapse" href="#page-comments-list-older"><i class="mdi mdi-chevron-double-down"></i> Comments for Older Revision <i class="mdi mdi-chevron-double-down"></i></a>

          <div class="page-comments-list-older collapse in" id="page-comments-list-older"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12 order-md-3 col-lg-2 order-lg-1">
      <div class="page-toc" id="page-toc">
      </div>
    </div>
  </div>
</div>
{% endblock %} {# layout_main #}


{% block content_head %}

{% block content_head_before %}
{% endblock %}

<div class="header-wrap sps sps--abv">
  {% if not page.isDeleted() %}
  <header id="page-header">
    <p class="stopper"><i class="mdi mdi-chevron-up"></i></p>


    <div class="flex-title-line">
      <h1 class="title flex-item-title" id="revision-path">{{ path|insertSpaceToEachSlashes }}</h1>
      {% if page %}

      {% if isExternalShareEnabled() %}
        <div id="external-share" class="flex-item-action dropdown">
          <button class="btn btn-outline-secondary" data-toggle="dropdown">
            <i class="mdi mdi-open-in-new"></i>
            Share
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li id="share-box"></li>
          </ul>
        </div>
      {% endif %}
      <div class="flex-item-action">
      </div>
      <div class="flex-item-action d-md-none">
        <button
            data-csrftoken="{{ csrf() }}"
            data-liked="{% if page.isLiked(user) %}1{% else %}0{% endif %}"
            class="like-button btn btn-outline-secondary btn-sm {% if page.isLiked(user) %}active{% endif %}"
        ><i class="mdi mdi-thumb-up-outline"></i></button>
      </div>
      {% endif %}
    </div>
  </header>
  {% else %}
  {# trash/* #}
  <header id="page-header">
    <div class="flex-title-line">
      <h1 class="title flex-item-title">{{ path|insertSpaceToEachSlashes }}</h1>
      <div class="flex-item-action">
        <span id="bookmark-button">
          <p class="bookmark-link">
            <i class="mdi mdi-star-outlin"></i>
          </a>
        </span>
      </div>
    </div>
  </header>
  {% endif %}
</div>

{% block content_head_after %}
{% endblock %}

{% endblock %}

{% block content_main %}

{% block content_main_before %}
{% endblock %}

<div id="content-main" class="content-main {% if not page or req.body.pageForm %}on-edit{% endif %}"
  data-path="{{ path }}"
  data-path-shortname="{{ path|path2name }}"
  data-page-id="{% if page %}{{ page._id.toString() }}{% endif %}"
  data-page-revision-id="{% if revision %}{{ revision._id.toString() }}{% endif %}"
  data-page-revision-created="{% if revision %}{{ revision.createdAt|datetz('U') }}{% endif %}"
  data-page-is-seen="{% if page and page.isSeenUser(user) %}1{% else %}0{% endif %}"
  data-csrftoken="{{ csrf() }}"
  >

  {% if not page %}
  <ul class="nav nav-tabs d-print-none">
    <li class="nav-item"><a class="nav-link">Create: {{ path }}</a></li>
    <li class="nav-item dropdown ml-auto">
      <a class="nav-link" href="#" onclick="history.back();"><i class="mdi mdi-close"></i> {{ t('Cancel') }}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="edit-form">
    {% include '_form.html' %}
    </div>
  </div>

  {% else %}

  {% if page.isDeleted() %}
  <div class="alert alert-danger alert-trash">
    <div>
      <ul class="list-inline float-right">
        <li class="list-inline-item">
          <form role="form" id="revert-delete-page-form" onsubmit="return false;">
            <input type="hidden" name="_csrf" value="{{ csrf() }}">
            <input type="hidden" name="path" value="{{ page.path }}">
            <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
            <button type="submit" class="btn btn-light btn-sm">
              <i class="mdi mdi-file-restore" aria-hidden="true"></i>
              Put Back
            </button>
          </form>
        </li>
        <li class="list-inline-item">
          <form role="form" id="delete-page-form" onsubmit="return false;">
            <input type="hidden" name="_csrf" value="{{ csrf() }}">
            <input type="hidden" name="path" value="{{ page.path }}">
            <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
            <input type="hidden" name="completely" value="true">
            <button type="submit" class="btn btn-danger btn-sm">
              <i class="mdi mdi-delete-forever-outline" aria-hidden="true"></i>
              Delete Completely
            </button>
          </form>
        </li>
      </ul>
      <i class="mdi mdi-trash-can-outline" aria-hidden="true"></i>
      This page is in the trash.<br>
      Deleted by <img src="{{ page.lastUpdateUser|picture }}" class="picture picture-sm picture-rounded"> {{ page.lastUpdateUser.name }} at {{ page.updatedAt|datetz('Y-m-d H:i:s') }}
    </div>
  </div>
  {% endif %}

  {% if not page.isDeleted() %}
  <ul class="nav nav-tabs d-print-none">
    <li class="nav-item" data-toggle="tooltip" {# data-title="あなたの 確認待ち です" title="" data-placement="bottom" data-trigger="manual" data-tooltip-stay #}>
      <a class="nav-link {% if not req.body.pageForm %}active{% endif %}" href="#revision-body" data-toggle="tab"><i class="mdi mdi-auto-fix"></i></a>
    </li>

    <li class="nav-item">
      <a class="nav-link {% if req.body.pageForm %}active{% endif %}" href="#edit-form" data-toggle="tab"><i class="mdi mdi-square-edit-outline"></i> {{ t('Edit') }}</a>
    </li>

    {% if page %}
    <li class="nav-item ml-auto">
      <a class="nav-link" href="#revision-history" data-toggle="tab"><i class="mdi mdi-history"></i> History</a>
    </li>
    {% endif %}
    <li class="nav-item dropdown {% if not page %}ml-auto{% endif %}">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="mdi mdi-dots-horizontal"></i> <span class="caret"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        {% if !isUserPage(path) %}
          <a class="dropdown-item" href="#" data-target="#renamePage" data-toggle="modal"><i class="mdi mdi-file-move"></i> {{ t('Move') }}</a>
          <a class="dropdown-item" href="#" data-target="#renameTree" data-toggle="modal"><i class="mdi mdi-folder-move"></i> {{ t('Move pages under', path|path2name ) }}</a>
          <a class="dropdown-item" href="#" data-target="#portalize" data-toggle="modal"><i class="mdi mdi-file-document-box-multiple-outline"></i> {{ t('Portalize') }}</a>
        {% endif %}
        <a class="dropdown-item" href="?presentation=1" class="toggle-presentation"><i class="mdi mdi-presentation"></i> {{ t('Presentation Mode') }} (beta)</a>
        {% if isDeletablePage() %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-target="#deletePage" data-toggle="modal"><i class="mdi mdi-trash-can-outline text-danger"></i> {{ t('Delete') }}</a>
        {% endif %}
      </div>
    </li>
  </ul>
  {% endif %}

  <div class="tab-content wiki-content">
  {% if req.query.renamed and not page.isDeleted() %}
  <div class="alert alert-info alert-moved">
    <span>
      <strong>{{ t('Moved') }}: </strong> {{ t('page_page.notice.moved', req.query.renamed) }}
    </span>
  </div>
  {% endif %}
  {% if req.query.redirectFrom and not page.isDeleted() %}
  <div class="alert alert-info alert-moved">
    <div>
      <form role="form" id="unlink-page-form" onsubmit="return false;">
        <input type="hidden" name="_csrf" value="{{ csrf() }}">
        <input type="hidden" name="path" value="{{ page.path }}">
        <input type="hidden" name="page_id" value="{{ page._id.toString() }}">
        <button type="submit" class="btn btn-light btn-sm float-right">
          <i class="mdi mdi-link-off" aria-hidden="true"></i>
          Unlink
        </button>
      </form>
      <span>
        <strong>{{ t('Moved') }}: </strong> {{ t('page_page.notice.moved', req.query.redirectFrom) }}
      </span>
    </div>
  </div>
  {% endif %}
  {% if req.query.unlinked %}
  <div class="alert alert-info">
    <strong>{{ t('Unlinked') }}: </strong> {{ t('page_page.notice.unlinked') }}
  </div>
  {% endif %}


  {% if not page.isLatestRevision() %}
  <div class="alert alert-warning">
    <strong>{{ t('Warning') }}: </strong> {{ t('page_page.notice.version') }} <i class="mdi mdi-auto-fix"></i> <a href="{{ page.path }}">{{ t('Show latest') }}</a>
  </div>
  {% endif %}

{#
  <div class="panel panel-default">
    <div class="panel-heading">承認待ち</div>
    <div class="panel-body">
      ほげほげ
    </div>
  </div>
#}
    <script type="text/template" id="raw-text-original">{{ revision.body }}</script>

    {# formatted text #}
    <div class="tab-pane {% if not req.body.pageForm %}active{% endif %}" id="revision-body">
      <div class="revision-toc" id="revision-toc">
        <a data-toggle="collapse" data-parent="#revision-toc" href="#revision-toc-content" class="revision-toc-head collapsed">{{ t('Table of Contents') }}</a>

      </div>
      <div class="wiki" id="revision-body-content"></div>
    </div>

    {# edit form #}
    {% if not page.isDeleted() %}
    <div class="edit-form tab-pane {% if req.body.pageForm %}active{% endif %}" id="edit-form">
      {% include '_form.html' %}
    </div>
    {% endif %}

    {# raw revision history #}
    {% if not page %}
    {% else %}
    <div class="tab-pane revision-history" id="revision-history">
    </div>
    {% endif %}

  </div>
  {% endif %}

  <div id="page-alerts"></div>
</div>

{% block content_main_after %}
{% endblock %}

{% endblock %}

{% block content_footer %}


{% if page %}

<div id="rename-tree">
</div>

<div class="meta">
  <div class="backlink-list" id="backlink-list"></div>
  <div class="page-attachments" id="page-attachment"></div>

  <div class="page-meta">
    Path: <span id="pagePath">{{ page.path }}</span><br>
    Last updated at {{ page.updatedAt|datetz('Y-m-d H:i:s') }} by <img src="{{ page.lastUpdateUser|picture }}" class="picture picture-rounded"> {{ page.lastUpdateUser.name }}<br>
    Created at {{ page.createdAt|datetz('Y-m-d H:i:s') }} by <img src="{{ page.creator|default(page.creator)|picture }}" class="picture picture-rounded"> {{ page.creator.name }}<br>
  </div>
</div>
{% endif %}

{% endblock %}

{#
{% block side_header %}
{% if not page.isDeleted() %}
{% include 'widget/page_side_header.html' %}
{% endif %}
{% endblock side_header %}

{% block side_content %}
{% if not page.isDeleted() %}
{% include 'widget/page_side_content.html' %}
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block body_end %}
{% parent %}

<div id="presentation-layer" class="fullscreen-layer">
  <div id="presentation-container"></div>
</div>

<div id="crowi-modals">
  {% include 'modal/rename.html' %}
  {% include 'modal/delete.html' %}
  {% include 'modal/page_name_warning.html' %}
  {% include 'modal/portalize.html' %}
</div>
{% endblock %}
#}
