.crowi { // {{{

  .admin-user-menu {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  #admin-users-table {
    #target-row {
      border-bottom: 0;
    }

    .padding {
      display: none;
    }

    #edit-panel {
      border-top: 0;

      td {
        padding: 0;

        div {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          max-height: 40px;
          padding: 10px 10px;
          box-sizing: border-box;
          overflow: hidden;
          animation: expandPanel 0.3s;

          @keyframes expandPanel {
            from {
              max-height: 0;
              padding: 0 10px;
            }
          }

          button:not(:last-child) {
            margin-right: 10px;
          }
        }
      }

      &.contract {
        td {
          div {
            max-height: 0;
            padding: 0 10px;
            animation: contractPanel 0.3s;

            @keyframes contractPanel {
              from {
                max-height: 40px;
                padding: 10px 10px;
              }
            }
          }
        }
      }
    }
  }

} // }}}
