.crowi { // {{{
  &.main-container { // {{{
    border-top: solid 3px $crowiHeaderBackground;
    border-image: linear-gradient(90deg,
      $crowiHeaderBackground,
      lighten(saturate(adjust-hue($crowiHeaderBackground, -60deg), 25%), 30%),
      lighten(saturate(adjust-hue($crowiHeaderBackground, 25deg), 25%), 40%),
      lighten($crowiHeaderBackground, 40%)
    ) 3;

    .v2-container {
      width: 100%;
      position: absolute;
      transition: .2s ease;
      left: 0;

      .v2-container-backdrop {
        display: none;
        position: absolute;
        height: 100vh;
        width: 100%;
      }
    }

    // TODO: move those kind of logic to components and styled-component
    // sm menu opened
    &.side-menu-open {
      .v2-container {
        width: calc(100% - 300px);
        left: 300px;
        height: 100vh;
        overflow: hidden;
        z-index: 990;
        overflow: hidden;

        .v2-container-backdrop {
          display: block;
          background-color: rgba(0, 0, 0, .1);
          z-index: 1090;
        }
      }
      .v2-crowi-header {
        .search-top {
          display: none;
        }
      }

      .v2-crowi-global-menu {
        @include media-breakpoint-down(sm) {
          display: block;
          position: fixed;
          box-shadow: 0 0 20px 5px rgba(0,0,0,.1);
          z-index: 1000;
          width: 300px;
          height: 100vh;
          background: #fcfcfc;

          .menu-user-profile {
            padding: 1em;

            .picture {
              width: 48px;
              height: 48px;
            }

            .menu-user-names {
              padding-top: 1em;
              padding-bottom: 1em;

              .menu-user-name {
                font-size: 1.2em;
                font-weight: 600;
              }
              .menu-user-username {
                font-size: .9em;
                color: #777;
              }
            }
          }

          .menu-list {
            position: relative;
            width: calc(100% - 1em);
            padding-left: 1em;

            li {
              list-style: none;
              padding-bottom: .4em;

              &.divider {
                border-bottom: solid 1px #f0f0f0;
                margin-bottom: .4em;
              }
            }
          }
        }
      }
    }

    // not opened
    .v2-crowi-global-menu {
      display: none;
    }

    .v2-crowi-header { // {{{
      z-index: 1040;
      box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
      background: #fff;
      height: $crowiHeaderHeight;
      color: #333;
      padding: 0;

      .navbar-brand {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }

      .crowi-menu-main {
        display: flex;
        flex: 1;
      }
      @include media-breakpoint-down(sm) {
        .crowi-menu-sm { // for moblie
          display: flex;
          padding-top: 0.33125rem;
          padding-bottom: 0.33125rem;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.1rem;
          a {
            cursor: pointer;
          }
        }
        .crowi-menu-md { // for pc
          display: none;
        }
      }
      @include media-breakpoint-up(md) {
        .crowi-menu-sm { // for moblie
          display: none;
        }
        .crowi-menu-md { // for pc
          display: flex;
        }
      }

        .navbar-brand {
          margin-left: 1rem;
          font-weight: 600;
          img {
            display: inline;
            margin-right: 8px;
          }
        }

      .navbar-nav {
        padding-left: 1rem;
        padding-right: 1rem;
        color: $primary;
      }

      .nav-divider {
        border-right: solid 1px #ccc;
        margin-right: 10px;
        margin-left: 20px;
        height: 30px;
        margin-top: 6px;
      }

      .confidential {
        a {
          display: inline-block;
          border: dotted 1px #f00;
          color: #f00;
          font-weight: bold;
          padding: 7px;
        }
      }

      .dropdown-menu {
        border: none;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 8px 20px rgba(0, 0, 0, 0.2);
      }

      .header-user {
        .dropdown-item:active {
          background: inherit;
          color: inherit;
        }
        .dropdown-toggle::after {
          // don't show caret
          display: none;
        }
        .dropdown-item {
          a {
            display: block;
          }
        }

        .dropdown-menu-right {
          .picture {
            width: 48px;
            height: 48px;
          }

          .header-user-name {
            font-weight: 600;
          }
          .header-user-username, .header-user-email, .header-user-socialid {
            color: #777;
          }
        }

      }
    } // }}}
  } // }}}
} // }}}

.crowi { // {{{
  &.main-container { // {{{
    .main {
      padding: 0; // cancel bootstrap padding

      .header-wrap {
        padding: 1em 1em 0 1em;
      }

      .content-main {
        padding: 1em;
      }
    }

    .layout-control { // {{{
      transition: .3s ease;
      -webkit-transition: .3s ease;
      position: fixed;
      display: block;
      text-align: center;
      right: 25%;
      bottom: 25px;
      padding: 5px 8px;
      border: solid 1px #ccc;
      border-right: none;
      background: $crowiAsideBackground;
      border-radius: 5px 0 0 5px;
      z-index: 1039;
      font-size: .8em;

      color: darken($link-color, 15%);

      &:hover {
        color: darken($link-color, 25%);
        background: darken($crowiAsideBackground, 10%);
        text-decoration: none;
        cursor: pointer;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    } // }}}

    .page-list {
      .page-list-link {
      }
      .page-list-meta {
        font-size: .9em;
        color: #999;
      }
    }

  } // }}}
} // }}}

.crowi.single.nologin { // {{{
  //background: lighten($crowiHeaderBackground, 15%);
  background: $crowiHeaderBackground;

  > .container-fluid > .row {
    flex-direction: column;
  }

  .installer-header {
    margin-top: 100px;
    text-align: center;

    h1 {
      margin: 40px 0 40px;
      color: #fff;
      font-size: 1.6em;
    }
  }

  .main {
    margin: 0;
    padding: 0;
  }

  h1.login-page {
    margin-top: 80px;
    color: #fff;
    font-size: 1.6em;
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0,0,0,.5);
    line-height: 100%;
  }


  .login-dialog-container {

    margin: 40px auto;
    float: none;

    .login-dialog {
      position: relative;

      form {
        margin-top: 10px;
        .input-group {
          margin-bottom: 10px;
        }
      }

      .login-dialog-inner, .register-dialog-inner {
        top: 0;
        left: 0;
        padding: 42px 48px;
        background: #fff;
        position: absolute;
        margin-bottom: 40px;
        width: 100%;

        box-shadow: 0 1px 40px 0 rgba(0,0,0,0.3);
        border-radius: 3px;

        h2 {
          margin: 0 0 28px;
          font-size: 1.3em;
          text-align: center;
        }
      }

      p.bottom-text {
        text-align: right;
        margin: 20px 0 0;
      }
    }

  }


} // }}}

// Tablet
@include media-breakpoint-only(sm) {
  .crowi.main-container {
    .main {
      article  {
        .header-wrap.sps--blw {
          width: 100%;
        }

        header {
          .bookmark-link {
            font-size: 1.3em;
          }
          h1 {
            font-size: 1.4em;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// Smartphone
@include media-breakpoint-only(xs) {
  .crowi.main-container {
    .main {
      article {
        .header-wrap.sps--blw {
          h1 {
            font-size: 1.1em;
          }

          width: 100%;
          padding: 5px;
          box-shadow: 0 0px 2px #999;

          p.stopper {
            right: 20px;
          }
        }

        header {
          .bookmark-link {
            font-size: 1em;
          }
          h1 {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

// smartphone input size adjustment
@include media-breakpoint-down(md) {
  input[type=text], textarea {
    font-size: 1rem !important;
  }
}

// {{{ printable style
@media print {
  .crowi.main-container {
    padding: 30px;

    a:after {
      display: none !important;
    }
    .main {
      article header {
        border-bottom: solid 1px #666;
        h1 {
          font-size: 2em;
          color: #000;
        }
      }

      .revision-toc {
        float: none;
        font-size: .9em;
        border: solid 1px #aaa;
        border-radius: 5px;
        max-width: 100%;
        margin-bottom: 20px;

        .revision-toc-head {
          display: inline-block;
          float: none;
        }

        .revision-toc-content.collapse {
          display: block;
          height: auto;
        }
      }

      .meta {
        border-top: solid 1px #ccc;
        margin-top: 32px;
        color: #666;
      }
    }
  }
} // }}}
