.crowi { // {{{
  &.main-container { // {{{

    .crowi-header { // {{{
      z-index: 1040;
      background: $crowiHeaderBackground;
      height: $crowiHeaderHeight;
      padding: 0;
      box-shadow: 0 3px 10px 0px rgba(0,0,0,.3);
      flex-wrap: nowrap;

      .navbar-brand {
        margin-left: 1rem;
        font-weight: bold;
        img {
          display: inline;
          margin-right: 8px;
        }
      }

      .navbar-toggler {
        border: 1px solid #ddd;
        color: #ccc;
        line-height: unset;
        margin-right: 1rem;
      }

      .navbar-collapse {
        background: $crowiHeaderBackground;
        flex-grow: 0;

        @include media-breakpoint-down(sm) {
          position: absolute;
          top: $crowiHeaderHeight;
          width: 100vw;
        }
      }

      .navbar-brand,
      .navbar-nav > li > a {
        color: #ccc;
        &:hover {
          color: #aaa;
        }
      }

      .navbar-nav {
        padding-left: 1rem;
        padding-right: 1rem;

        @include media-breakpoint-up(sm) {
          align-items: center;

          .nav-item > button {
            margin: 0 $nav-link-padding-x;
          }
        }

        .dropdown-toggle:after {
          display: none;
        }

        .confidential {
          a {
            display: inline-block;
            border: solid 2px #f00;
            background: #fff;
            color: #f00;
            font-weight: bold;
            padding: 10px;

            @include media-breakpoint-down(sm) {
              margin-bottom: 1rem;
            }

            @include media-breakpoint-up(sm) {
              margin-left: 1rem;
            }
          }
        }
      }
    } // }}}

    .main {
      padding: 0; // cancel bootstrap padding

      .header-wrap {
        padding: 16px;
      }

      .content-main {
        padding: 16px;
      }
    }

    .layout-control { // {{{
      transition: .3s ease;
      -webkit-transition: .3s ease;
      position: fixed;
      display: block;
      text-align: center;
      right: 25%;
      bottom: 25px;
      padding: 5px 8px;
      border: solid 1px #ccc;
      border-right: none;
      background: $crowiAsideBackground;
      border-radius: 5px 0 0 5px;
      z-index: 1039;
      font-size: .8em;

      color: darken($link-color, 15%);

      &:hover {
        color: darken($link-color, 25%);
        background: darken($crowiAsideBackground, 10%);
        text-decoration: none;
        cursor: pointer;
      }

      @include media-breakpoint-down(sm) {
        display: none;
      }
    } // }}}

    .page-list {
      .page-list-link {
      }
      .page-list-meta {
        font-size: .9em;
        color: #999;
      }
    }

  } // }}}
} // }}}

.crowi.single.nologin { // {{{
  //background: lighten($crowiHeaderBackground, 15%);
  background: $crowiHeaderBackground;

  > .container-fluid > .row {
    flex-direction: column;
  }

  .installer-header {
    margin-top: 100px;
    text-align: center;

    h1 {
      margin: 40px 0 40px;
      color: #fff;
      font-size: 1.6em;
    }
  }

  .main {
    margin: 0;
    padding: 0;
  }

  h1.login-page {
    margin-top: 80px;
    color: #fff;
    font-size: 1.6em;
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(0,0,0,.5);
    line-height: 100%;
  }


  .login-dialog-container {

    margin: 40px auto;
    float: none;

    .login-dialog {
      position: relative;

      form {
        margin-top: 10px;
        .input-group {
          margin-bottom: 10px;
        }
      }

      .login-dialog-inner, .register-dialog-inner {
        top: 0;
        left: 0;
        padding: 42px 48px;
        background: #fff;
        position: absolute;
        margin-bottom: 40px;
        width: 100%;

        box-shadow: 0 1px 40px 0 rgba(0,0,0,0.3);
        border-radius: 3px;

        h2 {
          margin: 0 0 28px;
          font-size: 1.3em;
          text-align: center;
        }
      }

      p.bottom-text {
        text-align: right;
        margin: 20px 0 0;
      }
    }

  }


} // }}}

// Tablet
@include media-breakpoint-only(sm) {
  .crowi.main-container {
    .main {
      article  {
        .header-wrap.sps--blw {
          width: 100%;
        }

        header {
          .bookmark-link {
            font-size: 1.3em;
          }
          h1 {
            font-size: 1.4em;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// Smartphone
@include media-breakpoint-only(xs) {
  .crowi.main-container {
    .main {
      article {
        .header-wrap.sps--blw {
          h1 {
            font-size: 1.1em;
          }

          width: 100%;
          padding: 5px;
          box-shadow: 0 0px 2px #999;

          p.stopper {
            right: 20px;
          }
        }

        header {
          .bookmark-link {
            font-size: 1em;
          }
          h1 {
            font-size: 1.1em;
          }
        }
      }
    }
  }
}

@media print { // {{{ printable style
  .crowi.main-container { // {{{
    padding: 30px;

    a:after {
      display: none !important;
    }
    .main {
      article header {
        border-bottom: solid 1px #666;
        h1 {
          font-size: 2em;
          color: #000;
        }
      }

      .revision-toc {
        float: none;
        font-size: .9em;
        border: solid 1px #aaa;
        border-radius: 5px;
        max-width: 100%;
        margin-bottom: 20px;

        .revision-toc-head {
          display: inline-block;
          float: none;
        }

        .revision-toc-content.collapse {
          display: block;
          height: auto;
        }
      }

      .meta {
        border-top: solid 1px #ccc;
        margin-top: 32px;
        color: #666;
      }


    }
  }
} // }}}
