
.crowi.main-container .main .content-main .timeline-body { // {{{
  margin-top: 1.6em;

  .revision-body {
    font-size: 14px;
  }
} // }}}

.page-list {
  .page-list-container {
    line-height: 1.6em;
    font-size: 15px;
  }

  .page-list-ul {
    &:last-child {
      margin-bottom: 0;
    }

    flex-direction: column;
    padding-left: 0;

    > li {
      list-style: none;
      line-height: 1.8em;

      .page-list-option {
        float: right;
        margin-left: 4px;
      }

      .picture {
        width: 16px;
        height: 16px;
      }

      > a {
        display: inline;
        padding: 0 4px;
        font-size: 1.1em;
        color: #666;

        strong {
          color: #333;
        }
      }

      > span.page-list-meta {
      }
    }
  }
}

.grouped-page-list {
  &:first-child {
    h5 {
      margin-top: 0;
    }
  }

  &:not(:first-child) {
    margin-top: 16px;
  }

  h6 {
    display: flex;

    > i {
      width: 14px;
      margin-right: 8px;
    }

    .title {
      flex: 1;
    }

    .more {
      text-align: center;

      > i {
        margin-left: 8px;
      }
    }
  }

  .page-list {
    margin-left: 22px;

    .page-list-ul {
      margin-bottom: 0;
    }
  }
}