.share-box-toggle.dropdown-toggle::after {
  // don't show caret
  display: none;
}

#share-box.dropdown-menu {
  z-index: 1000;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.share-box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 30rem;

  .share-box-header {
    display: flex;
    justify-content: space-between;
  }

  .share-box-content {
    margin-top: 16px;

    .input-group {
      margin-bottom: 16px;
    }
  }
}

.share-setting-modal {
  .secret-keyword {
    margin-top: 8px;
  }
}

.access-log-modal {
  .share-info > div {
    display: flex;
    margin: 10px;
    dd {
      flex: 1;
      margin-left: 10px;
    }
  }
}

#secret-keyword-form-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - #{$crowiHeaderHeight});

  & > div {
    margin: 48px auto;
  }
}
