.share-box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 30rem;

  .share-box-header {
    display: flex;
    justify-content: space-between;
  }

  .share-box-content {
    margin-top: 8px;
    padding: 8px 0;

    .input-group-btn {
      > .btn {
        padding: 6px 12px 7px;
      }
    }
  }
}