#external-share .dropdown-menu {
  z-index: 1060;
}

.share-box {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 30rem;

  .share-box-header {
    display: flex;
    justify-content: space-between;
  }

  .share-box-content {
    margin-top: 8px;
    padding: 8px 0;

    .input-group {
      margin-bottom: 16px;
    }

    .input-group-btn {
      > .btn {
        padding: 6px 12px 7px;
      }
    }
  }
}

.share-setting-modal {
  .secret-keyword {
    margin-top: 8px;
  }
}

.access-log-modal {
  .share-info > div {
    display: flex;
    margin: 10px;
    dd {
      flex: 1;
      margin-left: 10px;
    }
  }
}

#secret-keyword-form-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - #{$crowiHeaderHeight});

  & > div {
    margin: 48px auto;
  }
}