{% extends '../layout/single-nologin.html' %}

{% block html_title %}Error · {% endblock %}

{% block content_main %}

<div class="v2-single-page-container">

  <h1 class="login-page">
    {% if config.crowi['app:title'] == 'Crowi' %}
      <img src="/logo/135x32.png" alt="Crowi">
    {% else %}
      {{ config.crowi['app:title'] }}<br>
      <img src="/logo/100x11_w.png" alt="powered by Crowi">
    {% endif %}
  </h1>

  <div class="login-dialog" id="login-dialog">
    {% if reason === 'registered'%}

      <h2>登録完了</h2>

      <p class="text-center">
        {# FIXME: sized down 3x -> 1x because no longer use fa-3x, but, to be fixed#}
        <i class="mdi mdi-emoticon-outline"></i>
      </p>
      <hr>
      <div class="alert alert-info text-center">
        {{ reasonMessage }}
      </div>

    {% else %}

      <h2>ログインエラー</h2>

      <p class="text-center">
        <i class="mdi mdi-emoticon-sad-outline"></i>
      </p>
      <hr>
      {% if reasonMessage != '' %}
      <div class="alert alert-danger text-center">
        {{ reasonMessage }}
      </div>
      {% endif %}

    {% endif %}

  </div>

</div>

{% endblock %}

