{% extends 'layout.html' %}

{% block layout_sidebar %}

<a href="" class="layout-control" id="toggle-sidebar">{{ Icon("chevronRight") }}</a>
<aside class="sidebar col-md-3 d-print-none">

  {% block side_header %}
  {% endblock %}

  <div class="side-content">
    {% block side_content %}
    {% endblock %}
  </div>

  {% block side_footer %}
  {% endblock %}

  <div id="footer-container" class="footer">
    <footer class="">
      <p>
      <a href="" data-target="#help-modal" data-toggle="modal">{{ Icon("helpCircle") }} {{ t('Help') }}</a>
      &copy; {{ now|date('Y') }} {{ config.crowi['app:title'] }} <img src="/logo/powered-by-crowi.png" width="100" alt="powered by Crowi"> </p>
    </footer>
  </div>
</aside>

{% endblock %} {# layout_sidebar #}

{% block layout_main %}
<div id="main" class="main {% if page %}{{ css.grant(page) }}{% endif %} {% block main_css_class %}{% endblock %}">
  {% if page && page.grant != 1 %}
  <div class="page-top-info">
  <p class="page-grant">
    {{ Icon("lock") }} {{ consts.pageGrants[page.grant] }} ({{ t('Browsing of this page is restricted') }})
  </p>
  {% if page && page.grant == 2 %}
  <p class="alert alert-info">
    {{ t('Shareable Link') }}
    <input type="text" class="copy-link form-control" value="{{ baseUrl }}/{{ page._id.toString() }}" readonly>
  </p>
  {% endif %}
  </div>
  {% endif %}
  <article>
    {% block content_head %}
    {% endblock %}

    {% block content_main %}
    //
    {% endblock content_main %}

    {% block content_footer %}
    {% endblock %}
  </article>
</div>

{% endblock %} {# layout_main #}
