<!DOCTYPE html>
<html>
{% block html_head %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block html_title %}{% endblock %}{{ config.crowi['app:title']|default('Crowi') }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="apple-mobile-web-app-title" content="{{ config.crowi['app:title']|default('Crowi') }}">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon"                 href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72"   href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">

  <link rel="stylesheet" href="/css/crowi.css">

  <script src="{{ assets('/js/runtime.js') }}"></script>
  <script src="{{ assets('/js/bundled.js') }}"></script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>
{% endblock %}

{% block html_body %}
<body
  class="crowi main-container {% block html_base_css %}{% endblock %}"
  data-me="{{ user._id.toString() }}"
 {% block html_base_attr %}{% endblock %}
 >

{% block layout_head_nav %}
<nav class="v2-crowi-header navbar navbar-expand-md" role="navigation">
  <div class="col-md-8 p-2 d-flex">
    <a class="navbar-brand" href="/">
      <img alt="Crowi" src="/logo/32x32i.png" width="16">
      <span class="d-none d-sm-inline">{% block title %}{{ config.crowi['app:title']|default('Crowi') }}{% endblock %}</span>
    </a>

    {% if searchConfigured() %}
    <div class="search-top " role="search" id="search-top">
      <div class="search-box"> {# placeholder for react #}
        <form class="search-form input-group search-top-input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="mdi mdi-magnify" style="font-size: 1em;"></i></span>
          </div>
          <input
              type="text"
              placeholder="Search ... Page title and content"
              class="search-top-input form-control" name="q" disabled="disabled">
        </form>
      </div>
    </div>
    {% endif %}
  </div>

  <ul class="navbar-nav col-md-4 p-2 justify-content-end">
    {% if config.crowi['app:confidential'] && config.crowi['app:confidential'] != '' %}
    <li class="nav-item confidential">
      <a href="#">{{ config.crowi['app:confidential'] }}</a>
    </li>
    {% endif %}

    {% if user and user.admin %}
    <li class="nav-item">
      <a href="/admin" class="nav-link">
        <i class="mdi mdi-cube"></i> {{ t('Admin') }}
      </a>
    </li>
    {% endif %}

    <li class="nav-item">
      <button class="btn btn-primary create-page-button" data-target="#create-page" data-toggle="modal">
        <i class="mdi mdi-pencil-outline"></i> {{ t('New') }}
      </button>
    </li>
    <li class="nav-item nav-divider">
    </li>

    <li class="nav-item header-notification" id="header-notification">
      <a href="#" class="nav-link">
        <i class="mdi mdi-bell"></i>
      </a>
    </li>
    <li class="nav-item header-user dropdown" id="login-user">
      <a href="#" id="nav-dropdown-menu" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button">
        <img src="{{ user|picture }}" class="picture picture-rounded" width="25" />
      </a>

      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-item d-flex">
          <div class="p-2 header-user-picture">
            <img src="{{ user|picture }}" class="picture picture-rounded" />
          </div>
          <div class="flex-grow-1 header-user-container">
            <a href="/user/{{ user.username }}" id="link-mypage" class="nav-link">
              <span class="header-user-name">{{ user.name }}</span><br>
              <span class="header-user-username">@{{ user.username }}</span><br/>

              <span class="header-user-email"><i class="mdi mdi-email"></i> {{ user.email }}</span>
              {% if user.googleId || user.githubId %}
                {% if user.googleId %}
                <span class="header-user-socialid"><i class="mdi mdi-google" /></i></span>
                {% endif %}
                {% if user.githubId %}
                <span class="header-user-socialid"><i class="mdi mdi-github-box"></i></span>
                {% endif %}
              {% endif %}
            </a>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/me"><i class="mdi mdi-cogs"></i> {{ t('User Settings') }}</a>
        <a class="dropdown-item" href="/me"><i class="mdi mdi-star"></i> {{ t('Bookmarks') }}</a>
        <a class="dropdown-item" href="/me"><i class="mdi mdi-"></i> {{ t('Created pages') }}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/trash/"><i class="mdi mdi-trash-can-outline"></i> {{ t('Deleted Pages') }}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout"><i class="mdi mdi-logout"></i> {{ t('Sign out') }}</a>
      </div>
    </li>
  </ul>
</nav>

{% include '../modal/create_page.html' %}
{% endblock  %} {# layout_head_nav #}

{% block layout_container %}

<div class="container-fluid">
  <div class="row">

    {% block layout_sidebar %}
    {% endblock %} {# layout_sidebar #}

    {% block layout_main %}
    {% endblock %} {# layout_main #}

    {% block footer %}
    {% endblock %}

  </div> {# /.row #}
</div> {# /.container-fluid #}

{% endblock layout_container %}

{% block body_end %}
{% endblock body_end %}

{% include '../modal/help.html' %}
</body>
{% endblock html_body %}

<script type="application/json" id="crowi-context-hydrate">
  {{ local_config|json|safe }}
</script>
<script type="application/json" id="user-context-hydrate">
  {{ user_context|json|safe }}
</script>

<script src="{{ assets('/js/app.js') }}"></script>
<script src="{{ assets('/js/crowi.js') }}"></script>
</html>
