{% if not current %}
  {% set current = 'index' %}
{% endif  %}
<div class="nav nav-pills flex-column">
  <a class="nav-link {% if current == 'index'%}active{% endif %}" href="/admin"><i class="mdi mdi-cube"></i> Wiki管理トップ</a>
  <a class="nav-link {% if current == 'app'%}active{% endif %}" href="/admin/app"><i class="mdi mdi-cogs"></i> アプリ設定</a>
  <a class="nav-link {% if current == 'notification'%}active{% endif %}" href="/admin/notification"><i class="mdi mdi-bell"></i> 通知設定</a>
  <a class="nav-link {% if current == 'user'%}active{% endif %}" href="/admin/users"><i class="mdi mdi-account-group"></i> ユーザー管理</a>
  {% if searchConfigured() %}
  <a class="nav-link {% if current == 'search'%}active{% endif %}" href="/admin/search"><i class="mdi mdi-magnify"></i> 検索管理</a>
  {% endif %}
  <a class="nav-link {% if current == 'share'%}active{% endif %}" href="/admin/share"><i class="mdi mdi-open-in-new"></i> 外部共有管理</a>
  <a class="nav-link {% if current == 'backlink'%}active{% endif %}" href="/admin/backlink"><i class="mdi mdi-anchor"></i> バックリンク管理</a>
</div>
